
nav {
  height:80px;
  font-size: 14px;
  font-family: verdana;
  background-color: #fff;
  padding-left: 10%;
  margin-bottom:0px;
  box-shadow: 2px 2px 8px 0 rgba(45,35,35,.2);
}

nav .col-2, nav .col-6 {
  position:relative;
}

nav .col-4 ul {
  margin-left:10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.logo {
  width:88px;
  height:88px;
  top:20px;
  padding:2px;
  position:relative;
  border: #fff 1px solid;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0 rgba(45,35,35,.2);
}

.logo img {
   width: 100%;
}

.search {
  padding-right:0%;
 }

.search a {
  text-decoration: none;
  color:#333;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 150px;

}

.status-icon {
   width: 10px; 
   margin-right: 10px;
}

 @media screen and (max-width: 991px) {
  .navbar-collapse.collapse.show {
    margin-top:20px
  }
}

@media screen and (max-width: 991px) {
  nav {
    height:auto;

  }
}

.top-row {
  height: 8px;
  background-color: #333;
 }
 
 .top-row span {
   display: block;
   height: 8px;
   background-color:#ffcc00;
   width: 100px;
 }
 

