<div class="row header">
  <div class="col-md-2 ">
    <!-- <img class="logo-img" src="../../assets/images/logo.png" /> -->
    <canvas #canvas  height="75" width="75"  class="logo-img" style="border:3px solid #fff;"></canvas>
      
  </div>
  <div class="col-md-6">
    <a class="active">Store</a>
    <a>Product & Services</a>
    <a>Help & Support</a>
  </div>
  <div class="col-md-4">
    <a>
      <i class="fa fa-search fa-x" aria-hidden="true"> </i>
    </a>
    <a>PERSONAL &nbsp;
      <i class="fa fa-angle-down fa-x" aria-hidden="true"></i>
    </a>
  </div>
</div>



