<div class="top-row">
  <span>&nbsp;</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand logo">
      <img src="./assets/images/mtn-logo.png"></a>
    <button (click)="showHide()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse" [ngClass]="show ?  'show':''">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a aria-current="page" href="#" class="nav-link">Store</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Products &amp; Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Help &amp; Support</a></li>
      </ul>

      <ul class="list-inline mt-4 mb-2 search">
        <li class="list-inline-item me-4">
          <i class="fa fa-search" aria-hidden="true"></i>
        <li class="list-inline-item me-4">
          <div class="input-group mb-2">
            <a href="#" id="example" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle">
              <img src="assets/images/dot.png" class="status-icon"> Personal </a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>