<div id="myCarousel" class="carousel">
  <div class="items" #carousel>
    <div class="carousel-text">
      <span>What are you</span>
      <strong>here to do?</strong>
    </div>
    <div id="myli{{i+1}}" class="carousel-item-custom" *ngFor="let item of items;let i=index">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </div>
  </div>
</div>
<div class="buttons-section">
  <button (click)="prev()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg></button>
  <button (click)="next()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>