.cell {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    color: rgba(0,0,0,0.92);
    user-select: none;  
    display: flex;
    align-items: center;
    justify-content: center;    
    background: #eee;
    height: 100%;
    transform-origin: center bottom;
  }
  
   .title-style{
    word-break: break-word;
    text-align: center;
    font-size: 15px;
    padding-top: 18%;
  }
  .title-style-center-card{
    word-break: break-word;
    font-size: 19px;
    padding-top: 18%;
  }
  .img-section-center{
    padding-top: 25%;
}
.img-section img{
    padding-top: 25%;
}
  /* .center-card{
    height: 60vh;
    margin-top: -25%;
    width: 20vw;
    font-weight: bold;
    font-size: 18px;
  } */
  .help-txt{
      font-size: 10px;
      padding-top: 15%;
  }
  .image-placeholder{
    padding-top:25%;
  }
  .center-card{
    padding-top:15%;
  }
  .outer-cards{
    padding-top:10%;
  }
  .canvas-style{
    width:75px;
    height:75px;
  }
  .canvas-style-center{
    width:75px;
    height:75px;
  }
  .card-config{
    font-size: 18px;
    font-weight: 500;
    display:inline-block;
    letter-spacing: -.2px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
  }
  .card-config-center{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -.2px;
    line-height: 24px;
    max-width: 373px;
    text-align: center;
  }
  .big-card{
   
    max-height: 28rem !important;
    height: 60vh !important;
    margin-top: -25% !important;
     width: 19.9vw !important; 
    max-width: 19.9vw !important;
    font-weight: bold !important;
    border-bottom: 5px solid #ffc300;
  font-size: 26px;
   /* transform:scale(1.05);  */
  }
  .big-card-s{
    left: -10%;
    top:11%;
    position: relative;
    transform:scale(1.25);
         /* width:201px; */
         max-width:201px;
         display:inline-block;
         /* margin-left:9%; */
  }
  .item-card{
    background: linear-gradient(
180deg
,#fff,#ebebeb);
    border-radius: 16px 16px 12px 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 0 0 2pt hsl(0deg 0% 59% / 8%);
    flex-direction: column;
    height: 100%;
   
    justify-content: space-evenly;
    margin: 0 auto;
  }