p {
    font-family: Lato;
  }
  .main-wrap{
    /* display: flex; */
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color: pink;
  
  }
  .home-cont{
     
     width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    overflow: hidden !important;
    
  } 
  
  