
<app-header></app-header>
  <div class="container">
      <app-carousel style="display:inline;height:auto" (animationEnds)="animationEnds($event)"
      (changeCenterCard)="centerCardUpdate($event)" [np]="nextPrevOffset">
      <ng-container   *ngFor="let item of items;let i = index">
        <ng-container  *carouselItem>
          <app-card [cardContent]="item" [isCenterCard]="centerCard" (nextPrev)="nextOrPrev($event)"></app-card>
        </ng-container>
      </ng-container>
    </app-carousel>
  </div>
